#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("cool"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 120,
    scrolloff: 0,
    wrap_navigation: true,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: true,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "gt":         NextTab,
            "<S-Tab>":    PreviousTab,
            "gT":         PreviousTab,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Albums"),
            "5":          SwitchToTab("Playlists"),
            "6":          SwitchToTab("Search"),
            "<C-u>":      Update,
            "<C-U>":      Rescan,
            "R":          AddRandom,
        },
        navigation: {
            "<C-c>":      Close,
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "k":          Up,
            "<Up>":       Up,
            "j":          Down,
            "<Down>":     Down,
            "h":          Left,
            "<Left>":     Left,
            "l":          Right,
            "<Right>":    Right,
            "<C-w>k":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "<C-u>":      UpHalf,
            "<C-d>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<C-f>":      PageDown,
            "<PageDown>": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          AddOptions(kind: Action(all: false, autoplay: None, position: AfterCurrentSong)),
            "A":          AddAll,
            "D":          Delete,
            "<C-r>":      Rename,
            "<Space>":    FocusInput,
            "i":          ShowInfo,
            "<C-z>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "C":          JumpToCurrent,
            "<Space>":	  Play,
            "<Enter>":	  Play,
            "X":          Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "title",       label: "Title"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    tabs: [
            (
                name: "Queue",
                pane: Split(
                    direction: Vertical,
                    panes: [
                        (
                            size: "20%", 
                            pane: Split(
                                direction: Horizontal,
                                panes: [
                                    (
                                        size: "30%",
                                        borders: "LEFT | TOP | BOTTOM | RIGHT",
                                        border_symbols: Rounded,
                                        pane: Pane(AlbumArt)
                                    ),
                                    (
                                        // Replaces your previous 68% pane
                                        size: "70%",
                                        borders: "LEFT | TOP | BOTTOM | RIGHT",
                                        border_symbols: Rounded,
                                        pane: Split(
                                            direction: Vertical, // Stack items vertically
                                            panes: [
                                                // Row 1: Song Title
                                                (
                                                    size: "1", // 1 line height
                                                    pane: Pane(Property(
                                                        content: [
                                                            (kind: Property(Song(Title)), style: (fg: Some("#ffffff"), modifiers: "Bold")),
                                                        ],
                                                        align: Center,
                                                    ))
                                                ),
                                                // Row 2: Artist
                                                (
                                                    size: "1",
                                                    pane: Pane(Property(
                                                        content: [
                                                            (kind: Property(Song(Artist)), style: (fg: Some("#b4befe"))),
                                                            (kind: Text(" - ")),
                                                            (kind: Property(Song(Album))),
                                                        ],
                                                        align: Center,
                                                        scroll_speed: 4,
                                                    ))
                                                ),
                                                (
                                                    size: "100%", 
                                                    pane: Pane(Empty())
                                                ),
                                                (
                                                    size: "1", 
                                                    pane: Pane(Property(
                                                        content: [
                                                            (kind: Text("["), style:(fg: Some("#b4befe"))),
                                                            (kind: Property(Status(StateV2())), style:(fg: Some("#b4befe"))),
                                                            (kind: Text("] "), style:(fg: Some("#b4befe"))),
                                                            (kind: Property(Status(Elapsed))),
                                                            (kind: Text(" / ")),
                                                            (kind: Property(Status(Duration))),
                                                            (kind: Group([
                                                                (kind: Text(" (")),
                                                                (kind: Property(Status(Bitrate))),
                                                                (kind: Text(" kbps)")),
                                                            ])),
                                                        ],
                                                        align: Center,
                                                    ))
                                                ),
                                            ]
                                        )
                                    ),
                                ],
                            ),
                        ),
                        (
                            // Bottom Pane: Queue Header and List
                            size: "80%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "3",
                                        borders: "ALL",
                                        border_symbols: Inherited(parent: Rounded, bottom_left: "├", bottom_right: "┤",),
                                        pane: Split(
                                            direction: Horizontal,
                                            panes: [
                                                (
                                                    size: "1",
                                                    pane: Pane(Empty())
                                                ),
                                                (
                                                    size: "100%",
                                                    pane: Pane(QueueHeader())
                                                ),
                                            ]
                                        )
                                    ),
                                    (
                                        size: "100%",
                                        borders: "LEFT | RIGHT | BOTTOM",
                                        border_symbols: Rounded,
                                        pane: Split(
                                            direction: Horizontal,
                                            panes: [
                                                (
                                                    size: "1",
                                                    pane: Pane(Empty())
                                                ),
                                                (
                                                    size: "100%",
                                                    pane: Pane(Queue)
                                                ),
                                            ]
                                        )
                                    ),
                                ],
                            )
                        ),
                    ],
                ),
            ),
        (
            name: "Directories",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Directories), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Artists",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Artists), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Albums",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Albums), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Playlists",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Playlists), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
        (
            name: "Search",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Search), size: "100%", borders: "ALL", border_symbols: Rounded)],
            )
        ),
    ],
)
