[Desktop Entry]
Type=Action
Tooltip=Mount an Image
Name=Mount
Icon=/usr/share/icons/Papirus-Dark/16x16/actions/udiskie-mount.svg
Profiles=profile-one;

[X-Action-Profile profile-one]
MimeTypes=all/allfiles;
Exec=sh -c "cdemu unload 0 && sleep 2 && cdemu load 0 %f"
Name=Default profile
